apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    team: platform
    environment: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
        team: platform
        environment: dev
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
